@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
@if (Model.CurrentRoles == "ad")
{
    <section style="background-color:aqua">
        <h1>Welcome,Ad!</h1>


    </section>

}
else if (Model.CurrentRoles == "Teach")
{
    <section style="background-color:blueviolet">
        <h1>Welcome, Teach!</h1>
    </section>

}
else if (Model.CurrentRoles == "Student")
{
    <section style="background-color:violet">
        <h1>Welcome, Student!</h1>
    </section>
}

